# Copy this file and rename it to ``.env`` 
# Uncomment and replace the values below with the actual, if needed.

# Optional. If not specified here, the WiFi SSID should be set 
# via web installer or Smart Config
# SB_WIFI_SSID=FIXME!!!

# Optional. If not specified here, the WiFi password should be set 
# via web installer or Smart Config
# SB_WIFI_PWD=FIXME!!!

# Optional. Enables encryption for Smart Config, 
# so your WiFi credentials will be encrypted during transfer to the device.
# The key should have the length of 16 characters
# SB_SMARTCONFIG_KEY=FIXME!!!

# Optional. You can customize the URL device will send pings to.
# May be useful for testing purposes.
# Default value: https://api.svitlobot.in.ua/channelPing?channel_key=
# SB_SVITLOBOT_API=FIXME!!!

# Optional. If not specified here, the key should be set 
# via web installer or Smart Config
# SB_SVITLOBOT_KEY=FIXME!!!
